body {
    background-image: url("th.jpg");
}
#start {
    position:absolute;
    width:200px;
    top:250px;
    left:500px;
}
#mat {
    position:absolute;
    color:yellow;
    left:450px;
    top:100px;
}
#ins {
    color:black
}